# Compiled class file
target/
*.class

# IntelliJ folder
.idea/

# VSCode folder
.vscode/

*Zone.Identifier

# Music and commentary files
src/main/resources/sound/com/*
src/main/resources/sound/music/*
src/main/resources/sound/menu/*

# Heroku deployment
.biba/
